body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Inter", sans-serif;
}

main {
  max-width: 1300px;
  min-width: 317px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
header .icon-container {
  padding: 0 0 0 30px;
}
header nav {
  display: flex;
  padding: 0 20px 0 0;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin: 0 1.5rem;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  color: hsl(240, 100%, 5%);
}
header .burguer-menu {
  display: none;
}

.principal-content {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 2fr;
}
.principal-content .principal-news {
  width: 95%;
}
.principal-content .principal-news .data-news {
  display: flex;
  align-items: start;
  padding: 2rem 0 0 0;
}
.principal-content .principal-news .data-news h1 {
  width: 40%;
  font-size: 3rem;
  padding: 0 2rem 0 0;
  margin: 0;
}
.principal-content .principal-news .data-news .content-news {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.principal-content .principal-news .data-news .content-news p {
  margin: 0;
  font-size: 15px;
}
.principal-content .principal-news .data-news .content-news button {
  width: 50%;
  height: 3rem;
  margin: 3rem 0 0 0;
  background: hsl(5, 85%, 63%);
  border: 0;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: hsl(36, 100%, 99%);
}
.principal-content .principal-news img {
  width: 100%;
  object-fit: cover;
}
.principal-content aside {
  width: 95%;
  padding: 1rem 2rem;
  background-color: hsl(240, 100%, 5%);
}
.principal-content aside h2 {
  color: hsl(35, 77%, 62%);
  font-size: 2rem;
  margin: 1rem 0 3rem 0;
}
.principal-content aside article {
  margin: 0 0 2rem 0;
  border-bottom: 1px solid hsl(36, 100%, 99%);
}
.principal-content aside article h3 {
  color: hsl(36, 100%, 99%);
  font-size: 1.3rem;
}
.principal-content aside article p {
  color: hsl(36, 100%, 99%);
  font-size: 15px;
}
.principal-content .popular-news {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  grid-column: span 2;
}
.principal-content .popular-news article {
  display: flex;
  align-items: center;
  margin: 0 2rem 0 0;
}
.principal-content .popular-news article .picture img {
  width: 9rem;
  object-fit: cover;
}
.principal-content .popular-news article .description {
  padding: 0 0 0 1.4rem;
}
.principal-content .popular-news article .description .number-item {
  font-size: 2rem;
  margin: 0 0 1.4rem 0;
  padding: 0;
  font-weight: 800;
  color: hsl(233, 8%, 79%);
}
.principal-content .popular-news article .description h2 {
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 20px;
  color: hsl(240, 100%, 5%);
}
.principal-content .popular-news article .description .description-item {
  line-height: 1.3rem;
  color: hsl(240, 100%, 5%);
}

@media (max-width: 800px) {
  header nav {
    display: none;
  }
  header .burguer-menu {
    display: block;
    margin: 0 auto;
  }
  .principal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .principal-content .data-news {
    width: 100%;
    margin: 0 0 3rem 0;
    flex-direction: column;
  }
  .principal-content .data-news h1 {
    width: 100% !important;
  }
  .principal-content .data-news .content-news {
    width: 100% !important;
  }
  .principal-content .popular-news {
    flex-direction: column;
  }
}

/*# sourceMappingURL=home.css.map */
